$color-blue: #233a95;
$color-grey: #c2c2d3;
$color-p: #e4e5ee;
$color-1: #8BBEF9;
$color-ocean: #2bbef9;
$color-price: #d51243;
$color-red:#D51249;


$font-p: "Inter", sans-serif;
$font-dosis: "Dosis", sans-serif;
