.section1 {
  padding: 20px;
}

.section1 .image img {
  border-radius: 15px;
  width: 100%;
}

.section1 .text {
  margin-top: 20px;
}

.section1 .text i {
  color: #4AB4F5;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 3px;
}

.section1 .text .btn1 {
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: 600;
  color: #595b63;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 10px;
}

.section1 .text .btn1:hover {
  border-bottom: 1px solid #595b63;
}

.section1 .text h2 {
  margin-top: 6px;
  font-size: 36px;
  font-weight: 600;
}

.section1 .text p {
  color: #37383b;
  line-height: 25px;
}

.section1 .text p a {
  text-decoration: none;
  color: #8BBEF9;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section1 .text p a:hover {
  border-bottom: 1px solid #233a95;
  color: #233a95;
}

.section1 .text .text1 {
  background-color: #F8F8F8;
  padding: 50px;
  margin: 20px 0px;
  border-left: 5px solid #233A95;
}

.section1 .text .text1 h5 {
  font-size: 1.5rem;
  line-height: 1.6;
}

.section1 .text ul li a {
  text-decoration: none;
  color: black;
}

.section1 .text h6 {
  font-size: 30px;
  font-weight: normal;
}

.section1 .text ol li a {
  text-decoration: none;
  color: black;
}

.section1 .box {
  margin-left: 10px;
}

.section1 .box button {
  display: inline-block;
  background-color: #F3F4F7;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section1 .box button input {
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  outline: none;
  display: inline-block;
  background: transparent;
  color: #8d8a8a;
}

.section1 .box button input::-webkit-input-placeholder {
  color: #8d8a8a;
}

.section1 .box button input:-ms-input-placeholder {
  color: #8d8a8a;
}

.section1 .box button input::-ms-input-placeholder {
  color: #8d8a8a;
}

.section1 .box button input::placeholder {
  color: #8d8a8a;
}

.section1 .box button i {
  color: black;
  font-size: 13px;
  margin-right: 10px;
}

.section1 .box h4 {
  font-size: 15px;
  margin-top: 40px;
}

.section1 .boxes {
  margin-top: 20px;
  margin-left: 10px;
  border: 1px solid #EDEEF5;
  border-radius: 10px;
  padding: 25px 10px;
}

.section1 .boxes .box1 {
  position: relative;
}

.section1 .boxes .box1 img {
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
  height: 60px;
}

.section1 .boxes .box1 a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.625rem;
  display: inline-block;
}

.section1 .boxes .box1 span {
  background-color: #8BBEF9;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 0%;
  padding: 0px 7px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  border: 2px solid white;
}

.section1 .boxes1 {
  margin-top: 40px;
  margin-left: 10px;
}

.section1 .boxes1 h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

.section1 .boxes1 .box1 {
  background-color: #233a95;
  padding: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.section1 .boxes1 .box1 i {
  color: white;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 2px;
}

.section1 .boxes1 .box1 span {
  font-family: var(--font-secondary);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 0.9375rem;
}

.section1 .boxes1 .box1:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section1 .boxes1 .box2 {
  background-color: #4AB4F5;
  padding: 10px;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.section1 .boxes1 .box2 i {
  color: white;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 2px;
}

.section1 .boxes1 .box2 span {
  font-family: var(--font-secondary);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 0.9375rem;
}

.section1 .boxes1 .box2:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section1 .boxes1 .box3 {
  background-color: red;
  padding: 10px;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.section1 .boxes1 .box3 i {
  color: white;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 2px;
}

.section1 .boxes1 .box3 span {
  font-family: var(--font-secondary);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 0.9375rem;
}

.section1 .boxes1 .box3:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section1 .boxes1 .box4 {
  background-color: #3392C4;
  padding: 10px;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.section1 .boxes1 .box4 i {
  color: white;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 2px;
}

.section1 .boxes1 .box4 span {
  font-family: var(--font-secondary);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 0.9375rem;
}

.section1 .boxes1 .box4:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section1 .boxes1 .box5 {
  background-color: #FF6A33;
  padding: 10px;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.section1 .boxes1 .box5 i {
  color: white;
  margin-left: 10px;
  font-weight: normal;
  font-size: 13px;
  margin-top: 2px;
}

.section1 .boxes1 .box5 span {
  font-family: var(--font-secondary);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 0.9375rem;
}

.section1 .boxes1 .box5:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section1 .boxes2 {
  margin-top: 40px;
  margin-left: 10px;
}

.section1 .boxes2 h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

.section1 .boxes3 {
  margin-top: 40px;
  margin-left: 10px;
}

.section1 .boxes3 h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

.section1 .boxes3 .box1 {
  margin-top: 5px;
}

.section1 .boxes3 .box1 a {
  color: #000;
  background-color: transparent;
  border: 1px solid #dcdde2;
  height: 2rem;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .875rem !important;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section1 .text2 img {
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
  height: 60px;
}

.section1 .text2 .text3 {
  margin-left: 20px;
}

.section1 .text2 .text3 h5 {
  font-size: 17px;
  margin-right: 10px;
}

.section1 .text2 .text3 span {
  color: #7E8492;
  font-size: 14px;
}

.section1 .text2 .text3 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section1 .text2 .text3 a:hover {
  color: #233a95;
}

.section1 .boxes4 {
  border: 1px solid #EDEEF5;
  padding: 50px;
  margin-top: 40px;
}

.section1 .boxes4 h4 {
  font-size: 20px;
  font-weight: 400;
}

.section1 .boxes4 p {
  font-size: 14px;
}

.section1 .boxes4 textarea {
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 20px;
  background-color: #F8F8F8;
  width: 100%;
  height: 45vh;
}

.section1 .boxes4 form input {
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #F8F8F8;
  width: 100%;
  height: 7vh;
  padding: 20px;
}

.section1 .boxes4 .text4 form input {
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #F8F8F8;
  width: 100%;
  height: 7vh;
  padding: 20px;
}

.section1 .boxes4 .text5 form input {
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #F8F8F8;
  width: 100%;
  height: 7vh;
  padding: 20px;
}

.section1 .boxes4 .boxes5 {
  margin-top: 20px;
}

.section1 .boxes4 .boxes6 input {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  font-size: .8125rem;
  height: 3rem;
  background-color: #233a95;
  outline: none;
  border: none;
  color: white;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .section1 {
    padding: 10px 0px;
  }
  .section1 .text .btn1 {
    display: none;
  }
  .section1 .box {
    display: none;
  }
  .section1 .boxes {
    display: none;
  }
  .section1 .boxes1 {
    display: none;
  }
  .section1 .boxes2 {
    display: none;
  }
  .section1 .boxes3 {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .section1 {
    padding: 10px 0px;
  }
  .section1 .text .btn1 {
    display: none;
  }
  .section1 .box {
    display: none;
  }
  .section1 .boxes {
    display: none;
  }
  .section1 .boxes1 {
    display: none;
  }
  .section1 .boxes2 {
    display: none;
  }
  .section1 .boxes3 {
    display: none;
  }
}
/*# sourceMappingURL=idea.css.map */