@import "_variable";

main {
    padding: 25px 0;


    .section-1 {
        margin-bottom: 50px;
        .slider {
            overflow: hidden;
            position: relative;
            width: 870px;
            height: 532px;
    
            .slides {
                width: 10000px;
                display: flex;
                position: absolute;
                top: 0;
                left: -992px;
                cursor: pointer;
    
                &.transition {
                    transition: all 0.3s ease-in-out;
                }
    
    
                .slide {
                    width: 992px;
                    position: relative;
    
                    img {
                        background-position: center;
                        background-size: cover;
                    }
    
                    .text-slide {
                        position: absolute;
                        top: 50%;
                        left: 20%;
                        z-index: 99;
                        transform: translate(-20%, -50%);
    
                        .content-text {
                            max-width: 70%;
    
                            .content-header {
                                display: flex;
                                align-items: center;
                                margin-bottom: 15px;
    
                                .content-description {
                                    font-size: .75rem;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    // font-family: dosis;
                                    display: inline-block;
    
                                }
    
                                .content-discount {
                                    position: relative;
                                    // font-family: dosis;
                                    font-size: .875rem;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    color: #038e42;
                                    margin-left: 1.25rem;
    
                                    &::before {
                                        position: absolute;
                                        content: '';
                                        top: -5px;
                                        bottom: -5px;
                                        left: -0.75rem;
                                        right: -0.75rem;
                                        background: linear-gradient(90deg, rgba(0, 184, 83, 0.2) 0%, rgba(32, 55, 88, 0) 100%);
                                        border-radius: 2.5rem;
                                        z-index: -1;
                                    }
                                }
                            }
    
                            .content-main {
                                margin-bottom: 0.9375rem;
    
                                .entry-title {
                                    font-size: 3rem;
                                    font-weight: 700;
                                    letter-spacing: -.7px;
                                    line-height: 1.2;
                                }
                            }
    
                            .content-footer {
                                margin-bottom: 0.9375rem;
    
                                .price {
                                    font-size: 2.25rem;
                                    color: #d51243;
                                    font-weight: 600;
                                }
                            }
    
                            a {
                                text-decoration: none;
                                border-radius: 1.875rem;
                                padding: 8px 20px;
                                background-color: #2bbef9;
                                color: white;
                                display: inline-block;
                                i{
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
    
            }
    
            .prev,
            .next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 33px;
                color: rgba(0, 0, 0, 0.247);
    
                
            }
    
            .prev {
                left: 1rem;
    
            }
    
            .next {
                right: 1rem;
    
            }
        }

    }

    .section-2 {


        .left-box {
            .left-img {
                margin-bottom: 50px;

                .img-box {
                    position: relative;

                    img {
                        border-radius: 10px;
                    }

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 100;
                    }

                    .img-content {
                        position: absolute;
                        top: 0;
                        padding: 40px;

                        p {
                            font-size: .8125rem;
                            color: white;
                            margin-bottom: 10px;

                        }

                        h4 {
                            font-family: $font-p;
                            font-weight: 200;
                            font-size: 1.375rem;

                        }

                        h3 {
                            font-size: 1.5rem;
                            font-weight: 600;
                            letter-spacing: -.8px;
                            margin-bottom: 10px;
                        }

                        .price-text {
                            display: block;
                            font-size: .75rem;
                            line-height: 1;
                        }

                        .price {
                            font-size: 1.875rem;
                            color: $color-price;
                            font-family: $font-dosis;
                            font-weight: 600;

                        }
                    }
                }



            }

            .left-img1 {
                margin-bottom: 50px;

                .img-box1 {
                    position: relative;

                    img {
                        border-radius: 10px;
                    }

                    .content-a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 100;
                    }

                    .img-content1 {
                        position: absolute;
                        top: 0;
                        padding: 40px;

                        p {
                            font-size: .8125rem;
                            color: grey;
                            margin-bottom: 10px;

                        }

                        h4 {
                            font-family: $font-p;
                            font-weight: 200;
                            font-size: 1.375rem;

                        }

                        h3 {
                            font-size: 1.5rem;
                            font-weight: 600;
                            letter-spacing: -.8px;
                            margin-bottom: 10px;
                        }

                        .price-text {
                            display: block;
                            font-size: .75rem;
                            line-height: 1;
                        }

                        .price {
                            font-size: 1.875rem;
                            color: $color-price;
                            font-family: $font-dosis;
                            font-weight: 600;
                            display: block;
                            margin-bottom: 20px;

                        }

                        a {
                            text-decoration: none;
                            display: inline-block;
                            color: white;
                            font-size: 13px;
                            padding: 7px 20px;
                            border-radius: 25px;
                            background-color: $color-ocean;
                        }
                    }
                }



            }

            .items {
                border: 1px solid $color-p;
                border-radius: 10px;
                margin-bottom: 50px;

                .item {
                    border-top: 1px solid $color-p;
                    padding: 20px;

                    i {
                        font-size: 28px;
                        margin-right: 15px;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 12px;
                    }

                    &:first-child {
                        border-top: 0;
                    }
                }

            }

            .trending {
                h4 {
                    font-family: $font-dosis;
                    letter-spacing: 0;
                    margin-bottom: 1.25rem;
                    font-size: 15px;
                    font-weight: 600;

                }

                .items {
                    border: 1px solid $color-p;
                    border-radius: 10px;
                    margin-bottom: 50px;

                    .trending-item {
                        padding: 20px;

                        .img-box {
                            margin-right: 12px;
                            width: 70px;

                            img {
                                width: 100%;

                            }


                        }

                        .trending-text {
                            a {
                                text-decoration: none;
                                font-size: 14px;
                                font-family: $font-dosis;
                                margin-bottom: 10px;
                                display: inline-block;
                                font-weight: 600;
                                color: black;
                                transition: 0.2s ease;

                                &:hover {
                                    color: $color-blue;
                                }

                            }

                            .prices {
                                .old-price {
                                    color: $color-grey;
                                    font-size: 13px;
                                    font-weight: 600;
                                    margin-right: 5px;
                                    text-decoration: line-through;
                                }

                                .new-price {
                                    color: $color-price;
                                    font-weight: 500;
                                }
                            }
                        }

                    }
                }
            }

            .customer {
                h4 {
                    font-family: $font-dosis;
                    letter-spacing: 0;
                    margin-bottom: 1.25rem;
                    font-size: 15px;
                    font-weight: 600;

                }

                .comment {
                    background-color: #fffbec;
                    border-radius: 10px;
                    padding: 40px;

                    h4 {
                        font-size: .875rem;
                        font-family: $font-p;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    p {
                        color: #71778e;
                        font-size: .8125rem;
                        margin-bottom: 40px;
                    }

                    .profil {
                        .img-box {
                            margin-right: 15px;

                            img {
                                border-radius: 50%;
                                width: 50px;

                            }
                        }

                        .text-profil {
                            h3 {
                                font-size: .875rem;
                                font-weight: 600;
                                margin-bottom: 3px;
                            }

                            span {
                                display: block;
                                font-size: .75rem;
                                opacity: .5;
                            }
                        }
                    }
                }


            }
        }

        .right-box {
            margin-left: 10px;

            .product-header {
                margin-bottom: 20px;

                .left-text {

                    h4 {
                        font-size: 20px;
                        text-transform: uppercase;
                        font-family: $font-dosis;
                        margin-bottom: 0px;
                        font-weight: bolder;

                        .h-span {
                            color: #ed174a;
                        }

                    }

                    .bottom-span {
                        color: #9b9bb4;
                        font-size: 12px;
                        display: inline-block;

                    }
                }

                .right-text {
                    padding: 8px 25px;
                    border-radius: 20px;
                    border: 1px solid #9b9bb4;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: #9b9bb4;
                        font-size: 13px;
                        transition: 0.3s ease;
                        display: inline-block;

                        &:hover {
                            color: #71778e;
                        }
                    }

                    i {
                        margin-left: 5px;
                        color: #9b9bb4;
                        font-size: 13px;

                    }
                }
            }

            .product-boxes {
                border: 1px solid $color-p;
                border-radius: 8px;
                margin-bottom: 50px;


                .product-box {
                    width: 25%;
                    border-left: 1px solid $color-p;
                    padding: 20px;

                    &:hover {
                        .product-img {
                            .product-button {

                                .button-1,
                                .button-2 {
                                    right: 5%;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }


                    &:first-child {
                        border-left: 0;
                    }

                    .product-img {
                        position: relative;



                        img {

                            width: 100%;
                        }

                        .img-a {}

                        .product-badge {
                            position: absolute;
                            top: 0%;
                            left: 0%;


                            .badge1 {
                                display: inline-block;
                                font-weight: 600;
                                border-radius: 5px;
                                letter-spacing: 0;
                                padding: 0.35rem 0.8rem;
                                color: #fff;
                                font-size: 11px;
                                line-height: 0.9;
                                font-family: $font-dosis;
                                background-color: $color-ocean;
                                margin-bottom: 5px;
                            }

                            .badge2 {
                                display: flex;
                                justify-content: start;
                                background-color: #71778e;
                                font-weight: 600;
                                border-radius: 5px;
                                letter-spacing: 0;
                                padding: 0.35rem 0.8rem;
                                color: #fff;
                                font-size: 11px;
                                font-family: $font-dosis;
                                line-height: 0.9;
                            }


                        }

                        .product-button {



                            .button-1,
                            .button-2 {
                                position: absolute;
                                right: 0%;
                                text-decoration: none;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $color-p;
                                border-radius: 50%;
                                color: black;
                                opacity: 0;
                                visibility: hidden;
                                background-color: white;

                                &:hover {
                                    background-color: $color-blue;
                                    color: white;
                                }
                            }

                            .button-1 {
                                margin-bottom: 5px;
                                top: 0%;
                                transition: 0.2s ease-in-out;

                            }

                            .button-2 {
                                top: 28%;
                                transition: 0.3s ease-in-out;

                            }
                        }
                    }

                    .product-text {
                        a {
                            text-decoration: none;
                            font-size: .875rem;
                            font-weight: 500;
                            line-height: 1.4;
                            color: black;
                            display: inline-block;
                            transition: 0.3 ease;
                            margin-bottom: 8px;

                            &:hover {
                                color: $color-blue;
                            }
                        }

                        .stock {
                            display: block;
                            color: #00b853;
                            font-size: 11px;
                            font-weight: 600;
                            margin-bottom: 8px;

                        }

                        .stars {
                            i {
                                color: gold;
                                font-size: 11px;
                                margin-right: 2px;
                                margin-bottom: 8px;

                                &:last-child {
                                    color: $color-p;
                                }
                            }
                        }

                        .prices {
                            margin-bottom: 15px;

                            .old-price {
                                color: $color-grey;
                                font-size: 13px;
                                font-weight: 600;
                                margin-right: 5px;
                                text-decoration: line-through;
                            }

                            .new-price {
                                color: $color-price;
                                font-weight: 500;
                            }
                        }

                        .add-button {
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            padding: 7px 0;
                            font-size: 13px;
                            color: $color-ocean;
                            border: 1px solid $color-ocean;
                            border-radius: 20px;
                            transition: 0.2s ease;
                            background-color: white;

                            &:hover {
                                background-color: $color-ocean;
                                color: white;
                            }
                        }

                    }





                }


            }

            .banner {
                width: 100%;
                background-color: #F8EFEA;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                margin-bottom: 50px;


                .content {
                    padding: 40px;
                    width: 80%;

                    h4 {
                        font-size: .875rem;
                        color: #9b9bb4;
                    }

                    h3 {
                        font-size: 1.125rem;
                        font-weight: 600;
                        letter-spacing: -.8px;
                        color: #71778e;
                    }
                }

                .right-img {
                    position: absolute;
                    right: 0.625rem;
                    top: -35%;
                    border-radius: 10px;

                    img {

                        height: auto;
                        max-width: 100%;
                    }
                }

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 100;
                }
            }

            .hot-product {
                border: 1px solid $color-price;
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 30px;

                .hot-product-left {
                    padding: 20px;

                    .img-box {
                        position: relative;
                        padding: 10px;

                        img {
                            width: 100%;
                        }

                        .discount-number {
                            position: absolute;
                            top: 0%;
                            left: 0%;

                            .discount-a {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                text-decoration: none;
                                width: 65px;
                                height: 65px;
                                font-size: 23px;
                                font-weight: 500;
                                color: white;
                                border-radius: 50%;
                                background-color: #ed174a;
                            }

                        }

                        .link {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 99;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }

                    }
                }

                .hot-product-right {
                    padding: 20px;

                    .prices {
                        margin-bottom: 10px;

                        .old-price {
                            color: $color-grey;
                            font-size: 15px;
                            font-weight: 600;
                            margin-right: 5px;
                            text-decoration: line-through;
                        }

                        .new-price {
                            color: $color-price;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }

                    h3 {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }

                    .kg {
                        margin-bottom: 10px;

                        .old-price {
                            color: $color-grey;
                            font-size: 11px;
                            font-weight: 600;
                            margin-right: 5px;
                        }

                        .new-price {
                            color: #00b853;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }

                    .product-progress {
                        margin: 1.25rem 0;
                        position: relative;
                        width: 100%;
                        height: 10px;
                        border-radius: 0.75rem;
                        background-color: #edeef5;
                        overflow: hidden;

                        .progress {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            border-radius: 0.75rem;
                            background-color: #d51243;
                            background: linear-gradient(90deg, #d51243 0%, #ff6048 50%, #ffcd00 100%);
                        }
                    }

                    .countdown {
                        display: flex;
                        align-items: center;

                        h3 {
                            margin-right: 5px;
                            margin-bottom: 0;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            background-color: #edeef5;
                            color: #3e445a;

                        }

                        span {
                            margin-right: 5px;
                            display: inline-block;
                            font-weight: bold;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 11px;
                            color: #3e445a;
                            width: 18%;
                            margin-left: 15px;
                        }

                    }
                }

            }

            .discount-box {
                margin-bottom: 30px;

                a {
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    color: #ed174a;
                    background-color: #FFEEF2;
                    padding: 25px;
                    border-radius: 10px;

                    .purchase-text {
                        font-size: 17px;

                        strong {
                            text-decoration: underline;
                        }
                    }

                    .purchase-code {
                        font-family: $font-dosis;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #ed174a;
                        border: 1px dashed #ff6048;
                        padding: 4px 1.25rem;
                        border-radius: 1.875rem;
                        margin: 0 15px;
                    }

                    .purchase-description {
                        font-size: 12px;
                        color: #9b9bb4;
                    }
                }

            }

            .new-product-boxes {
                border: 1px solid $color-p;
                border-radius: 8px;
                margin-bottom: 50px;

                .new-product-box {
                    width: 25%;
                    border-left: 1px solid $color-p;
                    border-bottom: 1px solid $color-p;
                    padding: 20px;


                    &:hover {
                        margin-bottom: -20px;
                        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                        background-color: #fff;
                        border-radius: 5px;

                        .product-img {
                            cursor: pointer;

                            .product-button {

                                .button-1,
                                .button-2 {
                                    right: 5%;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        .add-button {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(25px);
                        }
                    }


                    &:first-child {
                        border-left: 0;
                    }

                    .product-img {
                        position: relative;



                        img {

                            width: 100%;
                        }



                        .product-badge {
                            position: absolute;
                            top: 0%;
                            left: 0%;


                            .badge1 {
                                display: inline-block;
                                font-weight: 600;
                                border-radius: 5px;
                                letter-spacing: 0;
                                padding: 0.35rem 0.8rem;
                                color: #fff;
                                font-size: 11px;
                                line-height: 0.9;
                                font-family: $font-dosis;
                                background-color: $color-ocean;
                                margin-bottom: 5px;
                            }

                            .badge2 {
                                display: flex;
                                justify-content: start;
                                background-color: #71778e;
                                font-weight: 600;
                                border-radius: 5px;
                                letter-spacing: 0;
                                padding: 0.35rem 0.8rem;
                                color: #fff;
                                font-size: 11px;
                                font-family: $font-dosis;
                                line-height: 0.9;
                            }


                        }

                        .product-button {



                            .button-1,
                            .button-2 {
                                position: absolute;
                                right: 0%;
                                text-decoration: none;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid $color-p;
                                border-radius: 50%;
                                color: black;
                                opacity: 0;
                                visibility: hidden;
                                background-color: white;

                                &:hover {
                                    background-color: $color-blue;
                                    border-color: $color-blue;
                                    color: white;
                                }
                            }

                            .button-1 {
                                margin-bottom: 5px;
                                top: 0%;
                                transition: 0.2s ease-in-out;

                            }

                            .button-2 {
                                top: 28%;
                                transition: 0.3s ease-in-out;

                            }
                        }
                    }

                    .product-text {
                        padding: 0 10px;

                        a {
                            text-decoration: none;
                            font-size: .875rem;
                            font-weight: 500;
                            line-height: 1.4;
                            color: #202435;
                            display: inline-block;
                            transition: 0.3 ease;
                            margin-bottom: 8px;

                            &:hover {
                                color: $color-blue;
                            }
                        }

                        .stock,
                        .stock1 {
                            display: block;
                            color: #00b853;
                            font-size: 11px;
                            font-weight: 600;
                            margin-bottom: 8px;

                        }

                        .stock1 {
                            color: $color-price;
                        }

                        .stars {
                            margin-bottom: 8px;

                            i {
                                color: gold;
                                font-size: 11px;
                                margin-right: 2px;

                                &.last-i {
                                    color: $color-p;
                                }
                            }

                            span {
                                font-size: 12px;
                                margin-left: 6px;
                                color: gray;
                            }
                        }

                        .prices {

                            .old-price {
                                color: $color-grey;
                                font-size: 13px;
                                font-weight: 600;
                                margin-right: 5px;
                                text-decoration: line-through;
                            }

                            .new-price {
                                color: $color-price;
                                font-weight: 500;
                            }
                        }
                    }

                    .add-button {
                        text-decoration: none;
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        padding: 7px 0;
                        font-size: 13px;
                        color: white;
                        border: 1px solid $color-blue;
                        border-radius: 20px;
                        transition: 0.2s ease;
                        background-color: $color-blue;
                        opacity: 0;
                        visibility: visible;
                        transition: 0.2s ease;
                        transform: translateY(30px);


                    }
                }
            }

            .weekend-discount-boxes {

                .weekend-box {

                    position: relative;

                    .img-box {
                        img {
                            border-radius: 10px;
                            width: 100%;

                        }
                    }

                    .img-content {
                        top: 0;
                        left: 0;
                        position: absolute;
                        max-width: 70%;
                        padding: 40px 50px;
                        z-index: 1;

                        .discount-text {
                            color: #00b853;
                            font-size: 16px;
                            font-weight: 600;
                            font-family: $font-dosis;
                            margin-bottom: 10px;
                        }

                        h3 {
                            color: #3e445a;
                            font-size: 26px;
                            font-weight: bold;
                            letter-spacing: -.8px;
                        }

                        span {
                            color: #9b9bb4;
                            font-size: 13px;
                            font-weight: 500;
                        }

                        .shop-a {
                            background-color: #c2c2d3;
                            color: white;
                            margin-top: 20px;
                            text-decoration: none;
                            display: inline-block;
                            padding: 7px 20px;
                            border-radius: 25px;
                            font-size: 14px;
                            font-weight: 500;
                        }

                    }

                    .link {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 99;
                    }
                }



            }
        }
    }

    .section-3 {
        margin-top: 50px;

        .category-boxes {
            .left-item {
                padding: 20px;
                border: 1px solid $color-p;
                border-right: none;
                text-align: center;
                width: 20%;

                .img {
                    img {
                        cursor: pointer;
                    }
                }

                .item-content {
                    margin-top: 5px;

                    a {
                        text-decoration: none;
                        color: #202435;
                        font-weight: 500;
                    }

                    .category-count {
                        color: gray;
                        font-size: 13px;
                    }
                }
            }

            .right-item {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid $color-p;
                border-right: 1px solid $color-p;

                .item {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    border-top: 1px solid $color-p;
                    border-left: 1px solid $color-p;

                    .img {
                        width: 50%;
                        cursor: pointer;

                        img {
                            padding: 20px;
                        }
                    }

                    .item-content {
                        a {
                            text-decoration: none;
                            color: #202435;
                            font-weight: 500;
                        }

                        .category-count {
                            color: gray;
                            font-size: 13px;
                        }
                    }
                }

            }
        }
    }
}

@import "_main-r.scss";
